.App {
  text-align: center;
}

.Banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top:52px;
  min-height: 65vh;
  height: 96vh;
  justify-content: center;
  background-blend-mode: overlay;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  z-index:-1;
  background-image: url('./../../public/images/background.jpg');
}


.BannerText{
  color:rgba(17, 17, 17, 0.848);
  background-color: rgba(255, 255, 255, 0.5);
}